*{
    margin: 0px;
    top: 0px;
    padding: 0px;
}
.navlist{
    border: 2px solid black;
    border-top: none;
    transition: all 0.5s ease-in;
}
ul li{
    color: black;
    list-style: none;
    text-align: center;
    border: 1px solid black;   
}
ul li a{
    text-decoration: none;
    color: black;
    
    
}
nav{
    display: flex;
    background-color: rgb(155, 155, 238);
    width: 100%;
    height: 75px;
    display: flex;
    border: 2px solid black;
}
.prince{
    margin: 22px 26px;
}
header {
    display: block;
    width: 100%;
    margin: 22px auto;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.papa{
    border: 1px solid black;
    width: 96%;
    text-align: center;
    margin: 13px auto;
    background-color: rgb(155, 155, 238);
}

div section h3{
    font-size: 21px;
    margin: 10px 0px;
}
p{
    padding: 0px 18px;
    text-align: left;
}
.v-class{
    opacity: 0
}
@media (max-width:600px){
    .line{
        background-color: white;
        width: 33px;
        height: 4px;
        margin: 3px 3px;
    }
    .burger{
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 22px;
        bottom: 33px;
        border: 1px solid white;
        height: 23px;
        padding: 5px 2px;
        border-radius: 12px;
        background-color: lightgrey;
    }
}